@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <br>  My name is Hakob :) </h1>
    <p>This is the <a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-3.1&tabs=visual-studio"> source of the Task</a>.</p>
</div>
